/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7393b3;
    color: #fff;
    padding: 10px;
}

h1, h2, h3 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    color: #05020d;
    padding: 20px;
}

/* Home page */
h2 {
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: grid;
    grid-gap: 10px;
    max-width: 400px;
}

label {
    font-weight: bold;
}

input[type="text"]{
    width: 100%;
    color: darkcyan;
    padding: 5px;
}
input[type="number"]{
    width: 100%;
    color: darkcyan;
    padding: 5px;
}
input[type="date"] {
    width: 100%;
    color: darkcyan;
    padding: 5px;
}

input[type="submit"] {
    background-color: darkcyan;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
